h1 {
  [data-icon] {
    color: darkgoldenrod;
    margin-right: 5px;
  }
}
h2 {
  [data-icon] {
    color: red;
    margin-right: 5px;
  }
  margin: 30px 0;
}
div pre[class*="language-"]{
  display: block !important;
}

.summary, .check-point {
  padding: 15px;
  margin: 20px 0;
  background-color: #f1f1f1;
  border: solid 2px #aaa;
  line-height: 1.6;
}

.sandbox {
  margin: 30px 0;
  background-color: #f1f1f1;
  border: solid 2px #aaa;
  padding: 30px 15px;
}

.container {
  margin-bottom: 100px;
}
